body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: 30px;

}
.name-highlight{
    color: orange;
    font-size: 45px;
}

.half-width{
    width: 40%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
    align-items: center;
}
.half-width img{
    width: 100%;
}
.another-half img{
    width: 100%;
}
.header{
    background-image: url("images/header-bg.png");
    background-repeat: no-repeat;
}
section{
    height: 600px;
    padding-bottom: 100px;
}

.biography{
    background-image: url("images/biography-bg.png");
    background-repeat: no-repeat;
}

.work{
    text-align: center;
}

.another-half{
    width: 25%;
    margin-left: 5%;
    padding-left: 2%;
    float: left;
}